<html>
    {% extends 'loginlayout.html' %}
    
    {% block content %}
	<head>
		<title></title>
	</head>
	<body>
		<div class="aboutcenter">
		<h4> EonVR is among one of the most promising Indie creators for the Virtual Reality field,<br>
		working along with many develepers in order to create the next level of full dive Virtual Reality.</h4>

		<h2>Featuring the new Eon Dyna Series</h2>
		</div>
		<div class="dyna">
		<img  src="{{url_for('static', filename='media/dyna2.png')}}">
		<img  src="{{url_for('static', filename='media/dyna1.png')}}">
		</div>
	</body>
    {% endblock %}
</html>

