<html>
    {% extends 'loginlayout.html' %}
    
    {% block content %}

	<link rel="stylesheet" href="forumlayout.css">
	<head>
	
		<title>Forum</title>
	</head>
	<body>
		<form action="/add" method="post">
			<h2>Create a forum</h2>
			<input type="text" name="forum_name">
			<input type="text" name="forum_description">
			<input type="submit" value="add">
			
		</form>
		<div class="column">
		{%for post in results%}
		
		<div class="top-bar">
			
			<h4>Posted by: {{post[6]}} on {{post[4]}} </h4>
			<h1>
				{{post[1]}}
	
			</h1>
			<h4>{{post[2]}}</h4>

			{%for comment in reply%}
			{% if comment[1] == post[0]%}
			
			<h6>{{comment[2]}}</h6>
			{% endif %}
			{% endfor %}
			
			<form action="/addcomment" method="post">
				<input type="text" name="comment">
				<input type="hidden" value="{{post[0]}}" name="PostID">
				<button type="submit" value="addcomment">Add Comment</button>
			</form>
			
		</div>
		
		{% endfor %}
	
			<div class="Comments">
			<div class="comment">
				<div class="top-comment">
				<p class="user">
					Commenter's name 
				</p>
					</div>
					<div class="comment-content">
						comment text here
					</div>
			</div>
			</div>
		</body>
    {% endblock %}
</html>

