<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" typr="text/css" href="/static/forumlayout.css">
  <title>EONBHS</title>
</head>
<body class="w3-container">
  <div class="w3-bar w3-card-4 w3-light-grey">
   <div class="logo">
    <img src="{{url_for('static', filename='media/logo.png')}}" width="90" height="45" >
   </div>
    <a href="{{url_for('login')}}" class="w3-bar-item w3-button">Login</a>
    <a href="{{url_for('signup')}}" class="w3-bar-item w3-button">Sign up</a>
</div>
  {% block content %}
  {% endblock %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>