<html lang="en">

    {% extends 'layout.html' %}
    
    {% block content %}

<body class="w3-container">
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Profile Picture</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
        </tr>
        <tr>
            <form action="/check" method="post">
                <!--USERNAME -->
                <label for="usrcheck"> Username: </label>
                <input type="text" id="usrcheck" name="usr">
                <!--PASSWORD -->
                <label for="pwdcheck"> Password: </label>
                <input type="password" id="pwdcheck" name="pwd">
                <!--SUBMIT-->
                <input type="submit" value="submit">
            </form>
        </tr>
    
        {% endfor %}
    </table>
</body>
{% endblock %}

</html>