<html lang="en">

    {% extends 'layout.html' %}
    
    {% block content %}
    <table>
        <tr>
            <form action="/check" method="post">
                <!--USERNAME -->
                <label for="usrcheck"> Username: </label>
                <input type="text" id="usrcheck" name="usr">
                <!--PASSWORD -->
                <label for="pwdcheck"> Password: </label>
                <input type="password" id="pwdcheck" name="pwd">
                <!--SUBMIT-->
                <input type="submit" value="submit">
            </form>
        </tr>
    </table>
{% endblock %}

</html>