<html lang="en">

    {% extends 'layout.html' %}
    
    {% block content %}
    <table>
        <tr>
            <form action="/check" method="post">
                <!--USERNAME -->
                <div>
                <label for="usrcheck"> Username: </label>
                <input type="text" id="usrcheck" name="usr">
                </div>
                <!--PASSWORD -->
                <div>
                <label for="pwdcheck"> Password: </label>
                <input type="password" id="pwdcheck" name="pwd">
                </div>
                <!--SUBMIT-->
                <div>
                <input type="submit" value="submit">
                </div>
                <p>Don't have an account?<a href="/signup"><u>Sign up!</u></a></p>
            </form>
        </tr>
    </table>
{% endblock %}

</html>