<html lang="en">

    {% extends 'layout.html' %}
    
    {% block content %}
    <body>
        <div class="center">
            <h1>Create an account!</h1>
            <form action="/signup" method="post">

                <div class="txt_field">
                    <input text="text" name="Namecreate" required>
                    <span></span>
                    <label>Name</label>
                </div>
                <div class="txt_field">
                    <input type="email" pattern="+@/.com" name="Emailcreate" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input text="text" name="usrcreate" minlength="8" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="pwdcreate"  minlength="8" required>
                    <span></span>
                    <label>Password (Min 8 characters)</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="pwdcreatecheck"  minlength="8" required>
                    <span></span>
                    <label>Retype Password</label>
                </div>

                <input type="submit" value="Create">
                <div class="signup_link">
                    Already a Member?  <a href="/">Signin!</a>
                </div>
            </form>
        </div>
    </body>

{% endblock %}

</html>